.container{
    background: white;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.employee-detail {
    max-width: 600px;
    margin: 0px auto;
    padding: 20px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    font-family: Arial, sans-serif;
    color: #333;
    display: flex;
    flex-direction: column;
    background:url(https://img.freepik.com/free-photo/copy-space-glasses-desk_23-2148519734.jpg);
  }
  .employee-detail h2 {
    text-align: center;
    margin-bottom: 20px;
    color: black;
  }
  .employee-detail .details {
    display: flex;
    justify-content: space-between;
  }
  .employee-detail .details .left,
  .employee-detail .details .right {
    width: 48%;
    text-align: left;
  }
  .employee-detail .details p {
    margin: 10px 0;
  }
  .employee-detail .divider {
    height: 2px;
    background-color: #fff;
    margin: 20px 0;
  }
  .employee-detail .contact-methods {
    list-style-type: none;
    padding: 0;
  }
  .employee-detail .contact-methods li {
    margin: 5px 0;
    display: flex;
  }
  .employee-detail .contact-methods li span {
    font-weight: bold;
  }
.vertical-divider{
    width: 2px;
    border-radius: 2px;
    background-color: #fff;
    box-shadow: rgba(76, 32, 32, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}  